.signupForm:first-child {
    padding-top: 3%;
}
.signupForm:last-child {
    padding-bottom: 1%;
}
.signupavatar {
    border-radius: 50%;
    width:30%;
}
.signupcontainer {
    background-color: rgb(243, 239, 239);
    border-radius: 5%;
    margin-top: 10%;
    width: 30%;
}
.edit-link {
    color: #5cb85c;
    font-size: larger;
    border-style: solid;
    border-width: 0.5px;
    background-color: transparent;
}
.edit-link:hover {
    background-color: #5cb85c;
    color: whitesmoke;
    text-decoration: none;
}

.signuperror {
    color: red;
}